# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
terraform.tfstate*
crash.log

# Archives
lambda.zip

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# macOS
.DS_Store


# env
.env.local
.env