# Local API environment
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=eu-north-1

# LocalStack endpoints
S3_ENDPOINT_URL=http://localstack:4566
SQS_ENDPOINT_URL=http://localstack:4566

# Buckets and queue
INPUT_BUCKET=video-api-local-input
OUTPUT_BUCKET=video-api-local-output
QUEUE_NAME=video-api-local-jobs
# QUEUE_URL will be discovered at start if not provided

# Lambda-style env
MOUNT_PATH=/mnt/efs
QUEUE_URL=
PUBLIC_DOMAIN=localhost:8000
